<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |name, msg| %> <!-- Rails creates a flash hash for flash messages listed in controller files -->
  <% if msg.is_a?(String) %> <!-- only messages containing strings can be displayed in alert boxes -->
  	<!-- alert class is Bootstrap alert box, and alert-success or alert-danger applies additional styling to box -->
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <!-- button creates an X icon in the alert box to close/dismiss it. The &time tells HTML to use "X" as the close icon -->
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <!-- content_tag rails view helper says make a div tag that contains the messge with an :id -->
    </div>
  <% end %>
<% end %>
